:root {
--bs-highlight-bg: rgba(255, 0, 0);
}

.relative_th {
  position: relative;
  background: transparent;
  transition: background 0.3s ease-in-out;
}

.table-row:nth-child(odd) {
  --bs-table-bg: rgb(5.1%, 43.14%, 99.22%, 30%);
}

.table-row:nth-child(even) {
  --bs-table-bg: rgb(5.1%, 43.14%, 99.22%, 10%);
}

.arrow-img {
  position: absolute;
  top: 26%;
  right: 5px;
  transform: rotate(90deg);
  height: 20px;
  width: 19px;
}

.arrow-img path {
  fill: #121723;
  transition: fill 0.3s ease-in-out;
}

.relative_th:hover .arrow-img path {
  fill: blue;
  transition: fill 0.3s ease-in-out;
}

.relative_th:hover {
  background: linear-gradient(transparent 15%, rgb(5.1%, 43.14%, 99.22%, 10%) 25% 65%, transparent 75%);
  transition: background 0.3s ease-in-out;
}

.btn_table {
  position: absolute;
  top: 50%;
  left: 0;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  transform: translateY(-50%);
  /* margin: 0 10px; */
}

